
.flex{
  /* margin-top: 20vh; */
  display: block;
}

.right{
  flex: 1;
  display: flex;
  
}

.selected{
  background-color: yellow;
  color: black;
}

.right-tile{
  background-color: #282c34;
  color: white;
}
.left-tile{
  background-color: #61dafb;
  color: black;
}

.left{
  flex:1;
  display: flex;
  
}

.heading{
  font-size: 42px;
  margin-top: 10vh;
  padding-bottom: 2vh;
  margin-left: 2vh;
  font-weight: 600;
}

.tile{
max-width: fit-content;
margin: auto;
border: 2px solid black;
min-width:30px;
font-size:24px;
margin-top: 1vh;
border-radius: 10px;
text-align: center;
cursor: pointer;

}

.button-container{
  display: flex;
  text-transform: uppercase;
  margin-top: 5vh;
}

.button{
  flex: 1;
  padding: 10px;
  max-width: fit-content;
  color: white;
  margin: auto;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.reset{
background-color: orange;
}

.submit:hover{
  background-color: red;
}


.message{
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  max-width: fit-content;
  /* background-color: goldenrod; */
  color: goldenrod;
  font-size: 30px;
  /* position: fixed;
  top: 0; */
  margin: auto;
  margin-top: 2vh;
}


.submit{
  background-color: tomato;
}

.reset:hover{
  background-color: darkorange;
}


